.accent_color {
    color:orange;
}
.dark_color {
    color:lightgray;
}
h1:after {
    clear: both;
}
#templateBox {
    margin-bottom:20px;
}
#selectedTemplateName {
    font-weight: bold;
}

#editor {
}

#editor textarea.stringMultipleEditor,
#editor input.stringEditor,
#editor input.numberEditor {
    padding-left:30px;
}

#editor textarea.invalid,
#editor input.invalid {
    border:2px solid #fbb;
    background-color:#fee;
}
#editor textarea.invalidHL,
#editor input.invalidHL {
    -webkit-animation-duration: 0.3s;
    -webkit-animation-name: highlight;
    -webkit-animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-name: highlight;
    animation-timing-function: ease-out;
}
@keyframes highlight {
    from {
        border:2px solid #fbb;
        background-color:#fdd;
    }
    to {
        border:2px solid #fbb;
        background-color:#fee;
    }
}
@-webkit-keyframes highlight {
    from {
        border:2px solid #fbb;
        background-color:#fdd;
    }
    to {
        border:2px solid #fbb;
        background-color:#fee;
    }
}

#editor dl {
    margin:0px;

    border-left: 8px solid lightgrey;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
#editor ul.ui-sortable dl {
    border-left: 8px double lightgrey;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
#editor dl dl {
    padding:10px 0px;

    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    border-right:1px solid #eee;
}
#editor dl > dd > dl {
    margin:5px 0px;
}
#editor dl.mapEditor > dt {
    margin-bottom:-25px;
    line-height:25px;
}
#editor dl.mapEditor > dt.editable > input {
    height:20px;
    line-height:15px;
}
#editor dl.mapEditor > dd {
    margin-bottom:0px;
}
#editor ol,
#editor ul {
    margin:0px;
}
#editor ol.listEditor > li,
#editor ul.listEditor > li {
    border-left: 0px solid lightgrey;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    margin-bottom:10px;
}
#editor ul.listEditor > li {
    list-style-type: none;
}
#editor ul.listEditor > li.short {
    width:100px;
    display:inline-block;
    margin-right:23px;
}
#editor ul.listEditor > li.short > input {
    width:100px;
    text-align:center;
    padding-left:7px;
}
#editor ol.listEditor > li.ui-sortable-helper,
#editor ul.listEditor > li.ui-sortable-helper {
    list-style:none;
}
#editor ol.listEditor > li:hover,
#editor ul.listEditor > li:hover {
    background-color:#fbfbfb;
    cursor: all-scroll;
}

#editor ol.listEditor > li.moreBtn,
#editor ul.listEditor > li.moreBtn {
    padding:5px;
    font-size: 20px;
    color:grey;
    text-align:center;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    list-style: none;
}
#editor ol.listEditor li.moreBtn:hover,
#editor ul.listEditor li.moreBtn:hover {
    background-color: lightgrey;
    color:#000;
    cursor: pointer;
}

#editor ul.listEditor > li > div.listNumber {
    position:absolute;
    margin-top:5px;
    margin-left:10px;
    font-weight: bold;
    font-size: 1.5em;
    color:lightgrey;
}
#editor ol.listEditor li > div.delBtn,
#editor ul.listEditor li > div.delBtn {
    padding:5px;
    font-size: 20px;
    color:lightgrey;
    text-align:center;
    float:right;
    width:30px;
}
#editor ol.listEditor li > div.delBtn:hover,
#editor ul.listEditor li > div.delBtn:hover {
    color:grey;
    cursor: pointer;
}

#editor ul.selectMultipleEditor li,
#editor ul.selectEditor li {
    background-color: #f5f5f5;
    margin-right: 5px;
    margin-bottom: 5px;
}
#editor dl.mapEditor dt.editable:hover {
    background-color:#eee;
    cursor: pointer;
}
#editor dl.mapEditor dt.moreBtn {
    padding:0px;
    font-size: 12px;
    color:grey;
    text-align:center;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    list-style: none;
}
#editor dl.mapEditor dt.moreBtn:hover {
    background-color: lightgrey;
    color:#000;
    cursor: pointer;
}


footer {
    border-top: 1px solid #eee;
    padding:10px;
    margin-top:20px;
    margin-bottom:40px;
    text-align: center
}

#controller {
    display:block;
    position:fixed;
    width:100%;
    bottom:0px;
    left:0px;
    padding:5px;
    background-color:#fff;
    border-top:1px solid #eee;
    z-index:1001;
}

#inputBox {
    position: absolute;
    right: 20px;
    top: 20px;
}
.basket {
    display: block;

    background-color: #f5f5f5;
    padding:0px 20px;
    border: 5px dashed #ccc;
    border: 5px dashed rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.basket:hover {
    background-color: lightyellow;
}
#dragAndDropBox > form {
    margin:0px;
}
#dragAndDropBox > div {
    font-size: 85%;
    color:gray;
    text-align:right;
}

#outputBox textarea {
    width: 100%;
    height: 400px;
    -webkit-box-sizing: border-box;
}

header.page-header {
    /*
    padding-bottom: 25px;
    */
}
